<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR TIME!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">THROW AWAY!</button>
</li>
